{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="FormPage/form.Style.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="container">
    {{ form_start(form) }}
        {{ form_row(form.franchise.city) }}   
        {{ form_row(form.user.email) }}
        {{ form_row(form.structure.address) }}
        {{ form_row(form.user.password) }}
        {{ form_row(form.user.active) }}
        {{ form_row(form.permissions.drinkSales) }}
        {{ form_row(form.permissions.foodSales) }}
        {{ form_row(form.permissions.membersStatistics) }}
        {{ form_row(form.permissions.membersSubscriptions) }}
        {{ form_row(form.permissions.paymentSchedules) }}

        <input type="submit">
    {{ form_end(form) }}
    </div>
{% endblock %}
    